h2 {
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;
}

body .closeWrapper {
  background: bisque;
  padding: 6px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 32px;
  bottom: 25%;
  z-index: 1;
}

body .app-root {
  min-width: 100%;
  height: 100vh;
}

body .app-root header {
  width: 100%;
  height: 60px;
  background-color: #2196f3;
}

body .app-root header nav {
  width: 100%;
  height: 100%;
  padding: 0px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .app-root header nav .logo {
  color: #fff;
  font-size: 26px;
}

body .app-root main {
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

body .app-root main #wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

body .app-root main #wrapper .cardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .app-root main #wrapper .cardContainer .dropCard {
  position: relative;
  width: 296px;
  height: 156px;
  padding: 32px;
  background-color: #dfdfdf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body .app-root main #wrapper .cardContainer .dropCard::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #aeaeae;
  top: 0;
  left: 0;
}

body .app-root main #wrapper .cardContainer .dropCard h2 {
  color: #aeaeae;
}

body .app-root main #wrapper .cardContainer .dropCard .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 24px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content p {
  padding-bottom: 21px;
  font-size: 20px;
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content .btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 999px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.74);
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content .btns button:focus {
  outline: none;
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content .btns button i {
  font-size: 20px;
  margin-right: 8px;
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content .btns button:nth-child(1) {
  background-color: #e4f2fd;
}

body .app-root main #wrapper .cardContainer .dropCard .card .card-content .btns button:nth-child(2) {
  margin-left: 12px;
  background-color: rgba(255, 160, 0, 0.15);
}

body .app-root main #wrapper .cardContainer .dropCard .card::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #2196f3;
  top: 0;
  left: 0;
}

body .app-root main #wrapper .cardContainer .dropCard .card {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body .app-root main #wrapper .cardContainer .dropCard {
  visibility: hidden;
  opacity: 0;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-1 {
  left: 50%;
  bottom: -50%;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-1 .circle {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: -3px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: circle1 1s infinite ease;
          animation: circle1 1s infinite ease;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-1 .line {
  width: 1px;
  height: 75px;
  background-color: #000;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-2 {
  left: -17%;
  top: 50%;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-2 .circle {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 43px;
  top: -3.5px;
  -webkit-animation: circle2 1s infinite ease;
          animation: circle2 1s infinite ease;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-2 .line {
  height: 1px;
  width: 60px;
  background-color: #000;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-3 {
  left: 50%;
  top: -32%;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-3 .circle {
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: -3px;
  -webkit-animation: circle3 1s infinite ease;
          animation: circle3 1s infinite ease;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-3 .line {
  width: 1px;
  height: 51px;
  background-color: #000;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-4 {
  right: -17%;
  top: 50%;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-4 .circle {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  position: absolute;
  top: -4px;
  -webkit-animation: circle 1s infinite ease;
          animation: circle 1s infinite ease;
}

body .app-root main #wrapper .cardContainer .dropCard .dotted-4 .line {
  height: 1px;
  width: 60px;
  background-color: #000;
}

body .app-root main #wrapper .cardContainer .dropCard.dragOver {
  border: 1px dashed #2196f3;
  background-color: rgba(33, 150, 243, 0.2);
}

body .app-root main #wrapper .cardContainer .middleCards {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard {
  visibility: hidden;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard {
  position: relative;
  width: 296px;
  height: 156px;
  padding: 32px;
  background-color: #dfdfdf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #aeaeae;
  top: 0;
  left: 0;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard h2 {
  color: #aeaeae;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 24px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content p {
  padding-bottom: 21px;
  font-size: 20px;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content .btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 999px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.74);
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content .btns button:focus {
  outline: none;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content .btns button i {
  font-size: 20px;
  margin-right: 8px;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content .btns button:nth-child(1) {
  background-color: #e4f2fd;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card .card-content .btns button:nth-child(2) {
  margin-left: 12px;
  background-color: rgba(255, 160, 0, 0.15);
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #2196f3;
  top: 0;
  left: 0;
}

body .app-root main #wrapper .cardContainer .middleCards .dropCard .card {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body .app-root main #wrapper .cardContainer .middleCards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 24px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content p {
  padding-bottom: 21px;
  font-size: 20px;
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content .btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 999px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.74);
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content .btns button:focus {
  outline: none;
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content .btns button i {
  font-size: 20px;
  margin-right: 8px;
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content .btns button:nth-child(1) {
  background-color: #e4f2fd;
}

body .app-root main #wrapper .cardContainer .middleCards .card .card-content .btns button:nth-child(2) {
  margin-left: 12px;
  background-color: rgba(255, 160, 0, 0.15);
}

body .app-root main #wrapper .cardContainer .middleCards .card::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #2196f3;
  top: 0;
  left: 0;
}

body .app-root main #wrapper .cardContainer .middleCards .card {
  margin: auto;
  margin: 50px 50px;
}

body .app-root main aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: calc(100vh - 60px);
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: -2px 0 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: -2px 0 12px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

body .app-root main aside .container {
  padding-left: 32px;
  padding-top: 32px;
}

body .app-root main aside .container h1 {
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.74);
  padding-bottom: 32px;
}

body .app-root main aside .container form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .app-root main aside .container form .form {
  width: 420px;
  height: 44px;
  position: relative;
}

body .app-root main aside .container form .form input {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-left: 12px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #595f6e;
  outline: none;
  background: #fff;
  border: solid 1px rgba(0, 0, 0, 0.32);
  border-radius: 4px;
}

body .app-root main aside .container form .form input:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid #2196f3;
}

body .app-root main aside .container form .form input:focus + .label-content .content-name,
body .app-root main aside .container form .form input:valid + .label-content .content-name {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  font-size: 12px;
  bottom: 9px;
  background: #fff;
  padding: 0px 4px;
}

body .app-root main aside .container form .form .label-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .app-root main aside .container form .form .label-content .content-name {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 16px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: sans-serif;
}

body .app-root main aside .container form .forminput:focus + .label-content::after,
body .app-root main aside .container form .forminput:valid + .label-content::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body .app-root main aside .container form .form:nth-child(1) {
  margin-bottom: 32px;
}

body .app-root main aside .container form .form:nth-child(2) {
  margin-bottom: 38px;
}

body .app-root main aside .container form .labeled {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.74);
  padding-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .app-root main aside .container form .labeled input[type="checkbox"] {
  display: none;
}

body .app-root main aside .container form .labeled input[type="checkbox"][type="checkbox"]:checked + .check-content::after {
  -webkit-animation-name: checkMark;
          animation-name: checkMark;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-transition: all ease-in;
  transition: all ease-in;
  opacity: 1;
  border-color: #fff;
}

body .app-root main aside .container form .labeled input[type="checkbox"][type="checkbox"]:checked + .check-content::before {
  -webkit-animation-name: check;
          animation-name: check;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-transition: all ease-in;
  transition: all ease-in;
  background: #2196f3;
  border: 2px solid #2196f3;
}

body .app-root main aside .container form .labeled input[type="checkbox"][type="checkbox"]:checked + .labeled {
  color: #000;
}

body .app-root main aside .container form .labeled .check-content {
  position: relative;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.74);
}

body .app-root main aside .container form .labeled .check-content::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  left: -35px;
  bottom: -2px;
}

body .app-root main aside .container form .labeled .check-content::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 15%;
  width: 10px;
  height: 4px;
  border-left: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  -webkit-transform: translate(50%, 50%) rotate(-45deg);
          transform: translate(50%, 50%) rotate(-45deg);
  opacity: 0;
}

body .app-root main aside .container form .formBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .app-root main aside .container form .formBtns button {
  font-size: 16px;
  border: none;
  padding: 12px 32px;
  border-radius: 4px;
  cursor: pointer;
}

body .app-root main aside .container form .formBtns button:nth-child(1) {
  margin-right: 8px;
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.32);
  font-weight: 500;
}

body .app-root main aside .container form .formBtns button:nth-child(2) {
  background-color: #2196f3;
  color: #fff;
  font-weight: 500;
}

body .app-root main aside .container form .formBtns button:focus {
  outline: none;
}

body .app-root main .more-cards {
  position: absolute;
  width: 100%;
  bottom: -201px;
  overflow: hidden;
  -webkit-box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 201px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .app-root main .more-cards.toggleHeight {
  bottom: 0px;
}

body .app-root main .more-cards .card-wrapper {
  padding: 20px 24px;
  position: relative;
  width: 100%;
}

body .app-root main .more-cards .card-wrapper .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .app-root main .more-cards .card-wrapper .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 24px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content p {
  padding-bottom: 21px;
  font-size: 20px;
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content .btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 999px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.74);
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content .btns button:focus {
  outline: none;
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content .btns button i {
  font-size: 20px;
  margin-right: 8px;
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content .btns button:nth-child(1) {
  background-color: #e4f2fd;
}

body .app-root main .more-cards .card-wrapper .card-container .card .card-content .btns button:nth-child(2) {
  margin-left: 12px;
  background-color: rgba(255, 160, 0, 0.15);
}

body .app-root main .more-cards .card-wrapper .card-container .card::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #2196f3;
  top: 0;
  left: 0;
}

body .app-root main .more-cards .card-wrapper .card-container .card {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-right: 20px;
  cursor: pointer;
}

body .app-root main .more-cards .card-wrapper .card-container:last-child {
  padding-right: 0px;
}

@-webkit-keyframes circle3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-43px);
            transform: translateY(-43px);
  }
}

@keyframes circle3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-43px);
            transform: translateY(-43px);
  }
}

@-webkit-keyframes circle2 {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-43px);
            transform: translateX(-43px);
  }
}

@keyframes circle2 {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-43px);
            transform: translateX(-43px);
  }
}

@-webkit-keyframes circle1 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(43px);
            transform: translateY(43px);
  }
}

@keyframes circle1 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(43px);
            transform: translateY(43px);
  }
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(53px);
            transform: translateX(53px);
  }
}

@keyframes circle {
  0% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(53px);
            transform: translateX(53px);
  }
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes check {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes checkMark {
  0% {
    -webkit-transform: translate(50%, 50%) scale(0) rotate(-45deg);
            transform: translate(50%, 50%) scale(0) rotate(-45deg);
    opacity: 0;
  }
  90% {
    -webkit-transform: translate(50%, 50%) scale(1.3) rotate(-45deg);
            transform: translate(50%, 50%) scale(1.3) rotate(-45deg);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(50%, 50%) scale(1) rotate(-45deg);
            transform: translate(50%, 50%) scale(1) rotate(-45deg);
    opacity: 1;
  }
}

@keyframes checkMark {
  0% {
    -webkit-transform: translate(50%, 50%) scale(0) rotate(-45deg);
            transform: translate(50%, 50%) scale(0) rotate(-45deg);
    opacity: 0;
  }
  90% {
    -webkit-transform: translate(50%, 50%) scale(1.3) rotate(-45deg);
            transform: translate(50%, 50%) scale(1.3) rotate(-45deg);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translate(50%, 50%) scale(1) rotate(-45deg);
            transform: translate(50%, 50%) scale(1) rotate(-45deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */
